# New site params
# Must to be strong password
DB_PASSWORD=YOUR_PASSWORD
DB_USER=YOUR_USER
DB_DATABASE=YOUR_DATABASE
DB_TABLE_PREFIX=wp
VIRTUAL_HOST=YOUR_VIRTUAL_HOST
VIRTUAL_PROTO=VIRTUAL_PROTO

# Import site params
SITEURL=http://siteurl.com
HOMEURL=http://homeurl.com

# SMTP
RELAY_NETWORKS_RANGE=RELAY_NETWORKS_RANGE
RELAY_DOMAINS=RELAY_DOMAINS
SMARTHOST_ALIASES=SMARTHOST_ALIASES
SMARTHOST_ADDRESS=SMARTHOST_ADDRESS
SMARTHOST_PORT=SMARTHOST_PORT
SMARTHOST_USER=SMARTHOST_USER
SMARTHOST_PASSWORD=SMARTHOST_PASSWORD
